.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Центрируем блоки по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  gap: 40px; /* Расстояние между патчами */
  flex-wrap: wrap; /* Если экран узкий, переносим на новую строку */
  padding: 40px; /* Отступы от краев экрана */
  box-sizing: border-box;
}

.calculator-glass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Центрируем текст внутри блока */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  padding: 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-center;
  gap: 40px;

  flex-wrap: wrap;
  padding: 40px;
  box-sizing: border-box;
}

.calculator-glass.home-text {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  min-height: 200px;
  color: white; /* белый текст */
  text-align: center;
  padding: 30px;
}

.home-text a {
  align-self: center;

  margin-top: -40px;
  margin-bottom: 40px;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(135deg, #445ce5, #212751);
  color: white;
  box-shadow: 0 2px 2px rgb(255, 255, 255);
  transition: 0.3s;
}

.theme-btn:hover {
  transform: translateY(-3px);
}
